html, body 
{ 
 scrollbar-width: none;
 scroll-behavior: smooth;
}
a{
    color:rgb(94, 94, 94);
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    color: black;             /* Cor ao passar o mouse - mantém preta ou qualquer cor desejada */
    text-decoration: none;    /* Garante que o sublinhado não apareça ao passar o mouse */
}

/* Estilo para a tela de introdução */
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: Arial, sans-serif;
  }

  /* Estilo para animação */
  #splash-logo {
    font-size: 24px;
    animation: fadeOut 2s ease-in-out forwards;
  }

  /* Animação para desaparecer */
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; transform: scale(1.1); }
}

@media screen and (max-width: 1024px) { 
    #container{
        display: table-column;
    }
}