html, body 
{ 
 scrollbar-width: none;
 scroll-behavior: smooth;
}
a{
    color:rgb(94, 94, 94);
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    color: black;             /* Cor ao passar o mouse - mantém preta ou qualquer cor desejada */
    text-decoration: none;    /* Garante que o sublinhado não apareça ao passar o mouse */
}

@media screen and (max-width: 1024px) { 
    #container{
        display: table-column;
    }
}